<body>
<style>
.img7 {
    width:100%;
    max-width:800px;
}

svg {
    max-width: 100%;
}

.content {
    width: 100%;
    overflow: visible;
}

.column {
    display: inline-block;
    vertical-align:top;
}
@media screen and (min-width: 1200px) {
.column2 {
    max-width: calc(100% - 550px);
}
.column {
    max-width: 400px;
}
}

.column2 {
    display: inline-block;
    vertical-align:top;
    border-left: 50px solid #ffffff;
}

</style>

<div class="content">
    <div class="column">

<h1>Legend and explanation</h1>

<p>On an <i>n</i> by <i>n</i> grid, how many ways are there to place <i>t</i> towers such that each set of two towers is at most <i>d</i> tiles apart (manhattan distance).</p>

<p>This article contains the solutions to many specific cases of this puzzle.</p>
<p>The proofs of these solutions are given in the form of a diagram. </p>

<img class="img7" src="legend.png"/>

<p>The explanation of all the therms you can find below</p>

<h2>State</h2>
<p>
    When we place the towers on a grid, we put them one by one. 
    Each snapshot where we have positioned some towers, but not all, is called a state. 
    Each state looks like a rectangle containing a header and our grid. We have drawn the already set towers. 
    The red icon is the most recently placed one. In the top right corner, we note the number of towers that still have to be placed. 
</p>
<h3>Symmetric state</h3>
<p>
    A symmetric state is a state that is precisely equivalent to another state if we would rotate or mirror the grid. 
    A solution for a state will be equivalent to a solution for another state. 
    Therefore, if we ever hit two symmetric states, we drop one of them. 
    The removed one connects to its symmetry with a blue line ending in a diamond. 
</p>

<h2>Excluded tiles</h2>
<p>Excluded tiles are tiles we know no tower can be on. There are different reasons why a tile can be excluded.</p>
<h3>Excluded by tower</h3>
<p>A tower can not be here cause it would be too close to another tower. Such tiles are marked in grey and have no text.</p>
<h3>Excluded by force</h3>
<p>A tower cannot be here cause we have chosen so (see abundant states/default child state). These tiles are orange and are marked with an "X".</p>
<h3>Excluded by symmetry</h3>
<p>A tower cannot be placed here cause our state will be equivalent to a state we already have excluded (see abundant states). These tiles are cyan and are marked with an "S".</p>

<h2>Districts:</h2>
<p>
    A district is a set of tiles. 
    It is chosen in such a way that you can put only one tower inside there. 
    Each pair of tiles in a district has at most a distance d between them,
     so if one put two towers in the district, it would violate our condition 
     that each pair of towers has to be distance d apart.
     
Districts are marked in white or green and have a unique number.

The districts are chosen by an AI, in such a way that the proof is as simple as possible. 
</p>
<h3>Marked district: </h3>
<p>Some states have a marked district. This district is green. (see satisfactory and abundant states).</p> 

<h2>Child state</h2>
<p>A child state of a given state is the state where we place one extra tower or exclude a set of tiles. There are two kinds of child states.</p>
<h3>Regular child state</h3>
<p>An extra tower is placed. The parent connects to the child with a black arrow. (for satisfactory and abundant states).</p>
<h3>Default child state: </h3>
<p>A subset of tiles is excluded. The parent connects to the child with a black arrow starting with a square. (for abundant states).</p>

<h2>Types of states</h2>
<p>The type of state is marked in the left top corner, followed by the number of districts.</p>

<h3>Deficient states</h3>
<p>These states can be divided into a smaller number of districts than the number of towers left to place. According to the pigeonhole principle, one of the districts has to have two towers, but as stated before, this is impossible. This state leads to a contradiction, so it is impossible to place are remaining towers to lead to a solution.</p>

<h3>Satisfactory states: </h3>
<p>These states can be divided into the exact number of districts as the number of unplaced towers. Consequently, every district has exactly one tower. As this is true for every district, it is true for the marked (green) district. We can create a child state for every possible tile in the marked area. </p>

<h3>Abundant states: </h3>
<p>In an abundant state, there are more towers than districts. In this case, we just pick a random tile. This tile either contains a tower, or it doesn't. This generates a regular child state, and a default child state. The default child state excluded the tile and all symmetries of the tiles. All the solutions that are solved by placing a tower on a symetric tile, will be contained in the regular child state's solutions, so they can be excluded without issues.</p>

</div>

    <div class="column2">
        <h1>Solutions</h1>
    <div id="replace"></div>

</div>
</div>
</body>